@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --roxo-claro: #9f6bff;
    --roxo-escuro: #6119cc;

    --background: #1c1e26;
    --branco: #f0f0f0;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: var(--background);
    font-family: 'Poppins';
    overflow-x: hidden;
}

h1 {
    color: var(--branco);
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}

body::-webkit-scrollbar,
.modal-info::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track,
.modal-info::-webkit-scrollbar-track {
    background-color: #12121200;
}

body::-webkit-scrollbar-thumb,
.modal-info::-webkit-scrollbar-thumb {
    background: var(--roxo-claro);
    border-radius: 5px;
}

/* fotos */
.fotos {
    width: 100%;
}

.swiper {
    width: 100%;
    padding-block: 2rem;
}

.swiper-wrapper {
    margin-left: -70px;
}

.swiper-slide {
    position: relative;
    width: 190px;
    height: 290px;
    overflow: hidden;
    filter: grayscale(70%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    transition: all .6s;
    user-select: none;
    border-block-width: 10px;
    border-top-width: 10px;
    border-bottom-width: 40px;
    border-color: var(--branco);
    border-style: solid;
    border-radius: 5px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* slide ativo */

.swiper-slide-active {
    filter: grayscale(10%);
}

.swiper-slide-active:nth-child(2n),
.swiper-slide-active:nth-child(2n + 1) {
    transform: scale(1.01);
    z-index: 2;
}

/* contador */

.contador {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#btn-info {
    color: var(--roxo-claro);
    padding: 5px;
    cursor: pointer;
}

.modal-info {
    width: 90vw;
    height: 80vh;
    border-radius: 15px;
    background-color: #262830;
    color: white;
    margin: auto auto;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, .5);
    transition: all .3s ease;
}

.modal-info::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

#btn-fechar-info {
    color: rgb(206, 37, 37);
    margin: 1.5rem;
    cursor: pointer;
}

.modal-info h2 {
    text-align: center;
    color: var(--roxo-claro);
}

.modal-info ul {
    text-align: center;
    margin-block: 1rem;
    line-height: 20pt;
}

.bodas {
    color: var(--branco);
}

.tempos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.tempo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 170px;
    width: 150px;
    background-color: var(--roxo-escuro);
    color: var(--branco);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.tempo span {
    font-size: 15px;
    font-weight: bolder;
}

#anos,
#meses,
#dias,
#horas,
#minutos,
#segundos {
    font-size: 60px;
}

/* mensagem */
.mensagem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-block: 2rem;
}

.mensagem p {
    text-align: center;
    color: var(--branco);
    border-top: 2px solid var(--roxo-claro);
    border-radius: 5px;
    padding: 2rem;
    line-height: 1.5;
}

.obs {
    font-weight: bold;
    color: var(--roxo-claro);
}

/* media queries */
@media (max-width: 730px) {
    .tempos {
        flex-direction: column;
    }
}
